doctype html
html
  head
    link(
      href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700'
      rel='stylesheet'
      type='text/css'
    )
    link(
      rel="stylesheet"
      href="https://npmcdn.com/flickity@2.0/dist/flickity.css"
      media="screen" )
    link( rel="stylesheet" type="text/css" href="index.css" )
    title Craig Spaeth | Digital Product Engineering, Design, & Leadership
    meta( name="viewport" content="width=device-width, initial-scale=1.0" )
  body#body.index
    .index-viz#container
    main.index-main
      h2 Craig Spaeth
      h1
        | Using my background in art and technology to build products at the
        | intersection of empathy and innovation
      p
        | I'm a digital product designer and engineer with experience leading&nbsp;
        | teams at startups. I'm currently doing product engineering at&nbsp;
        a( target='_blank' href='https://www.cityblock.com/' ) Cityblock
        | . In the past I've lead engineering teams and product launches at&nbsp;
        a( target='_blank' href='https://www.findoctave.com' ) Octave&nbsp;
        | and&nbsp;
        a( target='_blank' href='https://www.artsy.net' ) Artsy
        | , did freelancing for liquor/publishing brands, creatives,&nbsp; 
        | and startups, had some side hustles building and&nbsp;
        | monetizing MMORPGS and real-estate websites, made 2D & 3D&nbsp;
        a( target='_blank' href='https://vimeo.com/5499475' ) video&nbsp;
        a( target='_blank' href='/mirror' ) games&nbsp;
        | , created&nbsp;
        a( target='_blank' href='https://github.com/craigspaeth/griffin' ) open source
        | &nbsp;
        a( target='_blank' href='http://github.com/artsy/ezel' ) frameworks
        | , and spoke at some&nbsp;
        a( target='_blank' href='https://www.joyent.com/blog/node-js-on-the-road-nyc-craig-spaeth-brennan-moore') conferences
        | &nbsp;and meetups.
      nav.index-social
        a( href='https://www.linkedin.com/in/craigspaeth/' ) LinkedIn
        a( href='https://github.com/craigspaeth' ) GitHub
    #scripts
      script( src="js/three.js" )
      script( src="js/controls/OrbitControls.js" )
      script( src="js/shaders/CopyShader.js" )
      script( src="js/shaders/FXAAShader.js" )
      script( src="js/shaders/HorizontalTiltShiftShader.js" )
      script( src="js/shaders/VerticalTiltShiftShader.js" )
      script( src="js/postprocessing/EffectComposer.js" )
      script( src="js/postprocessing/RenderPass.js" )
      script( src="js/postprocessing/BloomPass.js" )
      script( src="js/postprocessing/ShaderPass.js" )
      script( src="js/postprocessing/MaskPass.js" )
      script( src="js/postprocessing/SavePass.js" )
      script( src="js/MarchingCubes.js" )
      script( src="js/ShaderToon.js" )
      script( src="js/WebGL.js" )
      script( src="js/libs/stats.min.js" )
      script( src="js/libs/dat.gui.min.js" )
      script( src="metaballs.js" )

